.react-context-menu {
    min-width: 200px;
    display: block;
    z-index: 990;
    position: absolute;
}

.react-context-menu > ul {
    display: block;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border: solid 1px #E9ECEF;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    list-style-type: none;
}

.react-context-menu > ul li {
    display: block;
    padding: 10px 15px;
    font-size: 12px;
}

.react-context-menu > ul li.item-hoverable:hover {
    background: #E9ECEF;
    cursor: pointer;
}

.react-context-menu > ul li p,
.react-context-menu > ul li a {
    font-size: inherit;
}